<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/askhole">Askhole</a>
    <a class="navbar-item" href="/mml">Make me laugh</a>
    <a class="navbar-item" href="/drawit">DrawIt</a>
    <a class="navbar-item" href="/aw">AnswerWrong</a>
  </div>
</nav>
