<div class="content is-large">
    <ol type="1">
    <%= for user <- @users do %>
        <li><%= if @my_name == user.name do %>Me<% else %><%= user.name %><% end %> | <span phx-hook="ChangeScore" id="<%= user.name %>_score" class=""><%= GameUtils.score(@game_state, user.name) %></span> point(s)</li>
    <% end %>
    </ol>
</div>

<iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=362d9a4d-481c-4253-aa1b-473f5b755aae&room=DEFAULT_ROOM&iframe=true" width=800 height=640 scrolling="auto" allow="microphone; camera" ></iframe>
