<h1><%= @question %></h1>

<button phx-click="new_card"><%= if @question == "" do %>Start<% else %>Change<% end %></button>


<ol>
    <%= for user <- @users do %>
        <li><%= if user.name == @name do %>
            <b><%= user.name %></b>
            <% else %>
                <%= user.name %>
            <% end %>
        </li>
    <% end %>
</ol>